@charset "utf-8";
/* CSS Document */
p {
  font-size: 18px;
	 font-family: "Song Myung", serif;
}
.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
	line-height: 14px;
}
.sub1 {font-size: 12px;}
img {
  width: 320px;
}

